body {
    margin: 0;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.page-header {

}
.header-cont {
    display: flex;;
}
.header-cont a {
    text-decoration: none;
    color: #000;
}
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav ul li {
    list-style: none;
}
.logo {
    width: 50%;
    display: flex;
    align-items: center;
}
.logo img {
    width: 20%;
}
.logo-title {
    color: #fdfdfd;
    font-size: 20pt;
    background: #00562e;
    border-radius: 10px;
    padding: 10px;
}
.main-content {

}
.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li {
    list-style: none;
}
.social li a {
    color: #000;
}
.main-title {
    text-align: center;
    padding: 10px;
    border-top: 5px dotted;
    border-bottom: 5px dotted;
}
.section-title {
    text-align: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    background: #d1d1d187;
    padding: 30px;
    border-radius: 7px;
}
.articles-list li {
    list-style: none;
}
.article {
    width: 50%;    
}
.article-title {
    border-bottom: 2px dotted;
    margin-right: 20px;
}
.article a {
    color: #ffffff;
    text-decoration: none;
    background: #4d4d4d;
    padding: 5px;
    border-radius: 5px;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    align-items: center;
}
.contacts-list li {
    color:#fff;
    list-style: none;
}
.contacts-list li a {
    color: #a9a9a9
}
.title-color-white {
    color: #fff;
}
.section-wrapper {
    background: #000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-table {
    border-collapse: collapse;
}
.article-table caption {
    font-size: 20pt;
}
.article-table tr {
    font-size: 18pt;
}
.article-table td {
    border: 1px solid;
}
.article-image {
    width: 100%;
}
.other-articles {
    list-style: none;
}
.article-lists {
    width: 50%;
}
.articles {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-col {
    display: flex;
}
